<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>cadastrar</servlet-name>
        <servlet-class>servlet1Ind.Cadastrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>preencherForm</servlet-name>
        <servlet-class>servlet1Ind.PreencheFormAtu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>atualizar</servlet-name>
        <servlet-class>servlet1Ind.Atualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterCliente</servlet-name>
        <servlet-class>servlet2Col.ServletManterCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletController</servlet-name>
        <servlet-class>servlet3Con.ServletController.ServletController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cadastrar</servlet-name>
        <url-pattern>/pagesJsp1_Ind/cadastrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>atualizar</servlet-name>
        <url-pattern>/pagesJsp1_Ind/atualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>preencherForm</servlet-name>
        <url-pattern>/pagesJsp1_Ind/preencherForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterCliente</servlet-name>
        <url-pattern>/pagesJsp2_Col/manterCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletController</servlet-name>
        <url-pattern>/pagesJsp3_Con/servletController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
